{% extends 'main/base.html' %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Yhteystiedot</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-envelope"></i></div>
            <div class="divider-custom-line"></div>
        </div>

            <div class="text-center text-secondary mb-0">
                <p style="color: white;">
                    Joni Hakala
                </p>
                <p style="color: white;">
                    Puh: 0407517761
                </p>
                <p style="color: white;">
                    Voit laittaa meille spostia liittyen ilmottautumisiin tai jos on kysyttävää <a href="Ccjhakala@hotmail.com">Ccjhakala@hotmail.com</a>
                </p>
            </div>

    </div>
</section>
{% endblock %}