{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 style="color: white;">Sinustako Poliisi</h1>
<div style="position: fixed; left: 25%;" >


    <div class="column side">
        <h2 style="color: white;">Tietoa Meistä</h2>
        <p style="color: white;">Mikä ihmeen Polamk-valmennus?
            Valmennuksemme ovat luotu juuri sinulle, joka haet Poliisiammattikorkeakouluun. 
            Valmennuksemme sisältävät kaiken tarvittavan tiedon Poliisiammattikorkeakoulun järjestämiä ensimmäisen 
            vaiheen valintakokeita varten. 
            Sivuiltamme löydät kursseja ja ohjelmia, niin esseevalmennukseen kuin myös kuntokokeeseen. 
            Tuomme kursseillamme kaikille teille sen tarvittavan osaamisen, tiedon ja taidon, jotta juuri sinulla olisi onnistunut valintakoekokemus. 
            Lisätietoa valmennuskursseistamme löydät osiosta kurssit.
            Ota yhteyttä mikäli on kysyttävää.
            </p>
    </div>   
    

</div>
{% endblock %}
